<app-tab>
    <app-tab-item title="First tab">
      <app-tab-body>
        IO am First content
      </app-tab-body>
    </app-tab-item>
    <app-tab-item title="Second tab">
        <app-tab-body>
          IO am Second content
        </app-tab-body>
      </app-tab-item>
      <app-tab-item title="Third tab">
        <app-tab-body>
          IO am Third content
        </app-tab-body>
      </app-tab-item>
  </app-tab>
  <button type="button" class="btn btn-primary" (click)="addTab()">Add Tab</button>

  <!-- <div class="col-md-10 ml-auto col-xl-6 mr-auto">
    <p class="category">Tabs with Background on Card</p>
    <div class="card">
      <div class="nav-tabs-navigation" data-tabs-color="orange">
          <div class="nav-tabs-wrapper">
              <ngb-tabset >
                  <ngb-tab title="Home">
                    <ng-template ngbTabContent>
                      <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Profile">
                    <ng-template ngbTabContent>
                        <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Messages">
                    <ng-template ngbTabContent>
                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Settings">
                      <ng-template ngbTabContent>
                        <p>
                            "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                        </p>
                      </ng-template>
                  </ngb-tab>
              </ngb-tabset>
          </div>
      </div>
    </div>
</div> -->